{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block content %}
    <!-- Add our semester filter -->
    <div class="semester-filter">
        <h3 style="margin-right: 15px;">Filter by Semester:</h3>
        <button class="semester-button {% if not request.GET.semester %}active{% endif %}" 
                onclick="window.location.href='{% url request.resolver_match.view_name %}'">All</button>
        {% for i in "12345678" %}
            <button class="semester-button semester-{{ i }} {% if request.GET.semester == i %}active{% endif %}"
                    onclick="window.location.href='{% url request.resolver_match.view_name %}?semester={{ i }}'">
                Semester {{ i }}
            </button>
        {% endfor %}
    </div>
    
    {{ block.super }}
{% endblock %}